<html>
<head>

<script src="js/jquery-2.0.3.js"></script>
<script src="js/fb.js"></script>
</head>
<body>
<div id="fb-root">
</div>

<input type='button' id='btnLogout' value='Logout' style="position: absolute;right:0;top:0;display:none" onClick='logout();'/>
<div align="center">
<br/>
<br/>
<br/>
<br/>
<br/>
 <div id="status">
  <input type='button' value='Login With Facebook' onclick='loginWithFacebook();'/>
 </div>

 <div id ="postDiv" style="display:none;position:relative;top:50%;"> 
  <input type="text" id="postContent"/>
  <!--<input type='button' value='Twitter' onclick=''/> -->
  <input type='button' value='Post Link to Facebook' onclick='postToFeed();'/>
  <br/>
  <br/>
  <input type='button' value='Get Likes' onclick='getUserLikes();'/>
 <!--  <input type='button' value='Get Insights' onclick='getInsights();'/> -->
  <input type='button' value='Get Friends List' onclick='getFriends();'/>
  <input type='button' value='Get Interests' onclick='getUserInterests();'/>
 </div>
 <br/>
 
 
 <textarea id="txtArea" rows="25" cols="125" style="overflow-y: auto;display:none"/>
 

</div>
</body>
</html>
