<html>
<head>

<script src="js/jquery-2.0.3.js"></script>
<script src="js/fb.js"></script>
</head>
<body>
<div id="fb-root">
</div>

<input type='button' id='btnLogout' value='Logout' style="position: absolute;right:0;top:0;display:none" onClick='logout();'/>
<div align="center">
<br/>
<br/>
<br/>
<br/>
<br/>
 <div id="status">
  <input type='button' value='Login With Facebook' onclick='loginWithFacebook();'/>
 </div>

 <div id ="postDiv" style="display:none;position:relative;top:50%;"> 
  <input type="text" id="postContent"/>
<!--<input type='button' value='Twitter' onclick=''/> -->
  <input type='button' value='Facebook' onclick='postToFeed();'/>
 </div>

</div>
</body>
</html>
