<html>
<head>
<script src="js/jquery-2.0.3.js"></script>
<script src="js/fb.js"></script>
</head>
<body>
<div id="fb-root">
</div>

<input type='button' id='btnLogout' value='Logout' style="position: absolute;right:0;top:0;display:none" onClick='logout();'/>
<div align="center">
<br/>
<br/>
<br/>
<br/>
<br/>
 <div id="status">
  <input type='button' value='Login With Facebook' onclick='loginWithFacebook();'/>
  <input type='type' value='Login with Facebook' >
 </div>

 <div id ="postDiv" style="display:none;position:relative;top:50%;"> 
  <input type="text" id="postContent"/>
  <!--<input type='button' value='Twitter' onclick=''/> -->
  <input type='button' value='Post Link to Facebook' onclick='postToFeed();'/>
  <br/>
  <br/>
  <input type='button' value='Get Likes' onclick='getUserLikes();'/>
 <!--  <input type='button' value='Get Insights' onclick='getInsights();'/> -->
  <input type='button' value='Get Friends List' onclick='getFriends();'/>
  <input type='button' value='Get Interests' onclick='getUserInterests();'/>
  <br/>
  <br/>
  Page id:<input type="text" id="pageID"/>
  <select id = "insightsDropDown">
  	<option value="">--Select insight--</option>
  	<option value="page_fans_country">Fans by Country</option>
  	<option value="page_impressions_by_country_unique">Page impressions by country</option>
  	<option value="page_views">Page views</option>
  	<option value="page_impressions_by_age_gender_unique">Page impressions by age</option>
  	<option value="page_fans_gender_age">Page fans by age</option>
  	<option value="page_fans_online">Hourly distribution</option>
  	<option value="page_negative_feedback_by_type_unique">Number of page unlikes</option>
  </select>
  <input type="button" value="Fetch insight" onclick='getInsights();'/> 
 </div>
 <br/>
 
 
 <textarea id="txtArea" rows="25" cols="125" style="overflow-y: auto;display:none"/>
 

</div>
</body>
</html>
